*{
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 310px;
    height: 100vh;
    padding: 0 1.7rem;
    color: aliceblue;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #033256;

}
.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    font-weight: 500;
    margin-top: 50%;
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

}
.menu li:hover,
active{
    background-color: #08a7ce;
}

.menu a {
    color: #ffff;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    top: 700;
    left: 0;
    width: 100%;
    
}
/*main body section*/
.main-content{
    position: realative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;

}
.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%; 
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffff;
    border-radius: 15px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

}
.header-title{
    font-size: 1rem;
    font-weight: 500;
    color: #033256;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1px;
}
.search-box{
    background: #dbdbdb;
    border-radius: 15px;
    color: #033256;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;

}
.search-box input{
    padding: 10px;
    background: transparent;
}
.search-box i{
    font-size: 1.2rem;
    color: #033256;
}

/*card container*/
.card-container{
    background: #ffff;
    padding: 2rem;
    border-radius: 15px;

}

.card-wrapper{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-title{
    color: #033256;
    padding-bottom: 10px;
    font-size: 20px;
}
.turtle-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 48%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.turtle-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ammount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.ammount-value{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    padding-top: 20px;
}

.percentage-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 48%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.percentage-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}

/* sensor cards*/

.sensor-card-container{
    margin-top: 1rem;
    background: #ffff;
    padding: 2rem;
    border-radius: 15px;
}
.sensor-card-wrapper{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
.sensor01-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.sensor01-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}
.sensor02-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.sensor02-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}
.sensor03-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.sensor03-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}
.sensor-title{
    color: #033256;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
}

/* water quality card*/
.water-card-container{
    margin-top: 1rem;
    background: #ffff;
    padding: 2rem;
    border-radius: 15px;
}
.water-card-wrapper{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
.water-card{
    background: #d0f6ff;
    border-radius: 15px;
    padding: 1.2rem;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.water-card:hover{
    box-shadow: 2px 2px 0 2px #4b4b4b36;
    transform: translateY(-5px);
    background: #08a7ce;
    color: #ffff;
}
.water-title{
    color: #033256;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bolder;
}
.quality-value{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}