*{
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 310px;
    height: 1400px;
    padding: 0 1.7rem;
    color: aliceblue;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #033256;

}
.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    font-weight: 500;
    margin-top: 50%;
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

}
.menu li:hover,
active{
    background-color: #08a7ce;
}

.menu a {
    color: #ffff;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    top: 700;
    left: 0;
    width: 100%;
    
}
/*main body section*/
.main-content{
    position: realative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;

}
.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%; 
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffff;
    border-radius: 15px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

}
.header-title{
    font-size: 1rem;
    font-weight: 500;
    color: #033256;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1px;
}
.search-box{
    background: #dbdbdb;
    border-radius: 15px;
    color: #033256;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;

}
.search-box input{
    padding: 10px;
    background: transparent;
}
.search-box i{
    font-size: 1.2rem;
    color: #033256;
}

/*card container*/
.card-container{
    margin-top: 1rem;
    background: #ffff;
    padding: 2rem;
    border-radius: 15px;

}

.card-wrapper{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-title{
    color: #033256;
    padding-bottom: 10px;
    font-size: 20px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.main-container{
    border-radius: 15px;
    position: relative;
    background: #d0f6ff;
    width: 100%;
    height: 10%;
    padding: 1rem;

}
.input-box-1{
    background: none;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 0rem;
}
.datename{
    margin-top: 0%;
    font-size: 25px;
    font-weight: 700;
    color: #033256;
}
.datel{
    background: #ffff;
    width: 100%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-box-2{
    background: none;
    border-radius: 15px;
    padding: 1rem;
}
.turtlename{
    font-size: 25px;
    font-weight: 700;
    color: #033256;

}
.text{
    background: #ffff;
    width: 100%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.button-wrapper{
    display: flex;
    align-items: end;
    margin-top: 0px;
}

.button-primary{
    margin-left: 30px;
    background: #033256;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.button-secondary{
    background: #ffff;
    color: #033256;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}